<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>260625937541-3aaf7gs5l23vdd91jtn7ga3seam5j413.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260625937541-3aaf7gs5l23vdd91jtn7ga3seam5j413</string>
	<key>API_KEY</key>
	<string>AIzaSyCqF0Yti5gs2hAvxnRqIwvwYWHAisxQxrI</string>
	<key>GCM_SENDER_ID</key>
	<string>260625937541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jcunningham.LivePhillyiOS</string>
	<key>PROJECT_ID</key>
	<string>livephilly-24b93</string>
	<key>STORAGE_BUCKET</key>
	<string>livephilly-24b93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260625937541:ios:aa7973d36ec595b7</string>
	<key>DATABASE_URL</key>
	<string>https://livephilly-24b93.firebaseio.com</string>
</dict>
</plist>